body {
  text-align: center;
  color:Pink;
  font-family: Ayuthaya;
  background:url("https://i.imgur.com/9DtEo2E.jpg");
  background-size: cover;
  background-position: center;
}
p {
  color: white;
  text-aligh: center;
  font-size: 14px;
  font-family:inherit;
}
ul {
  color: Pink;
}
input {
   border: 0;
   padding: 10px;
   font-size: 13px;
 }
 input[type="submit"] {
   background: pink;
   color: black;
 }
 ol {
   color: white;
   font-family:inherit;
   font-size: 14px;
 }
